<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin.dao.SendCodeRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="admin.model.SendCodeRecord">
        <id column="id" property="id" />
        <result column="issued_code" property="issuedCode" />
        <result column="issued_phone" property="issuedPhone" />
        <result column="biz_id" property="bizId" />
        <result column="biz_code" property="bizCode" />
        <result column="biz_name" property="bizName" />
        <result column="merchant_id" property="merchantId" />
        <result column="account" property="account" />
        <result column="send_platform_code" property="sendPlatformCode" />
        <result column="send_platform_name" property="sendPlatformName" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, issued_code, issued_phone, biz_id, biz_code, biz_name, merchant_id, account, send_platform_code, send_platform_name, update_time, create_time
    </sql>

</mapper>
