<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin.dao.SendCodeMerchantInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="admin.model.SendCodeMerchantInfo">
        <id column="id" property="id" />
        <result column="account" property="account" />
        <result column="pwd" property="pwd" />
        <result column="agent_level" property="agentLevel" />
        <result column="agent_belong" property="agentBelong" />
        <result column="weight" property="weight" />
        <result column="biz_permission_type" property="bizPermissionType" />
        <result column="biz_list" property="bizList" />
        <result column="ip_whitelist" property="ipWhitelist" />
        <result column="status" property="status" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, account, pwd, agent_level, agent_belong, weight, biz_permission_type, biz_list, ip_whitelist, status, update_time, create_time
    </sql>

</mapper>
